.editorMenu{
	margin: 15px;
	margin-bottom: 0;
}
.editorMenu button{
	font-size: 25px;
	width: 10%;
	line-height: 40px;
}
.configMap{
	z-index: 10;
	position: absolute;
	right: 10%;
	top: 10%;
}
.configMap input{
	width: 80%;
	margin: 10px;
	display: block;
}
.configMap select{
	width: 80%;
	margin: 10px;
	display: block;
}