body{
	margin: 0;
}
img{
	user-select: none;
}
p{
	margin-right: 10px;
  margin-left: 10px;
}
.main {
	font-family: "Roboto Flex", sans-serif;
  position: fixed;
  height: 80%;
  width: -webkit-fill-available;
  margin: 15px;
  display: block;
}
.main:fullscreen{
	border: solid 10px wheat;
	background-color: wheat;
}
.main:fullscreen .lor{
	width: 40%;
}
.main:fullscreen .lor .imgs div{
	width: 45%;
}
.screen{
	position: absolute;
	height: 100%;
}
.screen button{
	position: absolute;
}
.screen img{
	height: 100%;
	width: 100%;
}
.lor{
	text-align: center;
	display: inline-block;
	position: fixed;
	margin-left: 20px;
	width: -webkit-fill-available;
}
.marker{
	position: absolute;
	height: 5%;
	width: 4%;
}
.marker img{
	transition: 0.1s;
	border: solid transparent 5px;
}
.marker img:hover{
	padding-top: 5px;
}
.marker h4{
	text-align: center;
	width: 400%;
	position: absolute;
	top: 120%;
	left: -100%;
	font-size: 15px;
	margin: 0;
}
.imgs{
	text-align: center;
}
.imgs div{
	display: inline-block;
/*	width: 45%;*/
	margin: 5px;
}